<div class="container messagebox">
  <div class="row">
    <div class="col-xs-12">

		</br>
		<p id="notice"><%= notice %></p>

		<p><span style="font-size: 24px;">Thank you for reaching out to us. We will read your message and provide a response if one was requested.</span><p>
    </div>
  </div>
</div>