<!-- This is the page that shows when connecting to the /contact_us URL -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="contact-details">
                        <ul class="contact-ul">
                            <li>
                                
                                <span class="flaticon-placeholder"><i class="fa fa-home fa-2x" aria-hidden="true"></i></span>
                                <div class="contact-content">
                                    <h5>Our Address</h5>
                                    <h6>26 Railroad Ave. #355 </br>
                                        Babylon, NY 11702</h6>
                                </div>
                            </li>
                            <li>
                                <span class="flaticon-letter"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></span>
                                <div class="contact-content">
                                    <h5>Email Address</h5>
                                    <h6>info@missionfuel.net
                                    http://www.missionfuel.net</h6>
                                </div>
                            </li>
                            <li>
                                <span class="flaticon-phone"><i class="fa fa-phone fa-2x" aria-hidden="true"></i></span>
                                <div class="contact-content">
                                    <h5>Phone Number</h5>
                                    <h6>+1-877-850-4323</h6>
                                </div>
                            </li>
                            <!-- <li>
                                <div class="social-icon">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </li> -->
                        </ul>
                    </div>    
                </div>
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <div class="submit-opinion">
                        <h4>Get In Touch</h4>
                        <%= render 'form', visitor: @visitor %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Contact Section -->
<!-- Contact Map -->
<div id="contact_map" data-hue="#ffc400"></div>
<!-- End Contact Map --> 
<!-- Footer section -->