<section class="breadcrumb-section">
    <div class="section-overlay">
            <div class="container">
                <div class="breadcrumb-area">
                    <h2 class="breadcrumb-title"><%= @breadcrumb_title %></h2>
                    <ul class="breadcrumb-ul">
                      <li><a href="/">Home</a></li>
                      <li class="active-breadcrumb"><%= @page_title %></li>
                    </ul>
                </div>
            </div>		        
    </div>
</section>