	<!-- Basic Page Needs -->
	<meta charset="utf-8">
	<title>Mission Fuel</title>
	<meta name="description" content="MissionFuel">
	<meta name="author" content="Steve Cervera">
	
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <!-- You can use open graph tags to customize link previews.
    Learn more: https://developers.facebook.com/docs/sharing/webmasters -->

    <!-- This is the image that is displayed when someone shares the website on Facebook -->
    <meta property="og:image" content="https://s3-us-west-2.amazonaws.com/mission-fuel/static/facebook_thumbnail.jpg" />

	<meta property="og:url"           content="http://www.missionfuel.net" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Mission Fuel" />
    <meta property="og:description"   content="Igniting the Great Commission" />
    <!-- <meta property="og:image"         content="http://www.your-domain.com/path/image.jpg" /> -->
    <script src="https://js.braintreegateway.com/web/dropin/1.6.1/js/dropin.min.js"></script>
	
	<!-- Favicons -->
	<link rel="shortcut icon" href="graphics/mission-fuel-logo-favicon.png">	
	<link href="http://fonts.googleapis.com/css?family=Roboto+Slab:400|Roboto:900%2C700" rel="stylesheet" property="stylesheet" type="text/css" media="all">

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-99112888-1', 'auto');
	  ga('send', 'pageview');

	</script>
    
    <!-- The following inserts the comodo verified cert logo -->
	<script type="text/javascript"> //<![CDATA[ 
var tlJsHost = ((window.location.protocol == "https:") ? "https://secure.comodo.com/" : "http://www.trustlogo.com/");
document.write(unescape("%3Cscript src='" + tlJsHost + "trustlogo/javascript/trustlogo.js' type='text/javascript'%3E%3C/script%3E"));
//]]>
</script>
	
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>



