	<!-- Basic Page Needs -->
	<meta charset="utf-8">
	<title>Mission Fuel</title>
	<meta name="description" content="MissionFuel">
	<meta name="author" content="Steve Cervera">
	
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
	
	<!-- Favicons -->
	<!-- <link rel="shortcut icon" href="assets/missionfuelicon.png"> -->	
	<link href="http://fonts.googleapis.com/css?family=Roboto+Slab:400|Roboto:900%2C700" rel="stylesheet" property="stylesheet" type="text/css" media="all">
	
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
<!-- , 'data-turbolinks-track': 'reload' -->