<section class="rev_slider_wrapper fullwidthbanner-container">
      <div id="rev_slider_14_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="mdn-home-slider1" data-source="gallery" style="margin:0px auto;background-color:#ffffff;padding:0px;margin-top:0px;margin-bottom:0px;">
      <!-- START REVOLUTION SLIDER 5.3.1.6 fullwidth mode -->
            <div id="rev_slider_14_1" class="rev_slider fullwidthabanner tp-overflow-hidden" style="display:none;" data-version="5.3.1.6">
                  <ul>	
                        <!-- SLIDE  -->
                        <%= render "/shared/slides/one_million_slide" %>

                        <!-- SLIDE  -->
                        <%= render "/shared/slides/weapons_slide" %>

                        <!-- SLIDE  -->
                        <%= render "/shared/slides/latino_family_slide" %>

                        <!-- SLIDE  -->
                        <%= render "/shared/slides/audio_card_slide" %>
                        

                  </ul>
            </div>
            <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	
      </div>
</section>