<section class="gallery-section section">
    <div class="container">
        <div class="row">
            <div class="section-heading">
                <span class="flaticon-solidarity"></span>
                <h3>Our Photo Gallery</h3>
                <p>Take a look at the images of some of the things that we've supported with generous donations from our partners. Please join us.</p>
            </div>                    
        </div>
        <div class="row">
            <div class="gallery">
				<div class="all-gallery-items">
					<% @gallery.photos.each do |photo| %>
						<div class="single-item">
	                         <div class="gallery-img">
	                             <%= image_tag(photo.url(:medium)) %>
	                             <div class="overlay"></div>
	                             <div class="gallery-content">
	                                 <%= link_to '<i class="fa fa-expand" aria-hidden="true"></i>'.html_safe, photo.url, data: { rel: "lightcase:myCollection" } %>
	                             </div>                                     
	                         </div>
	                    </div>   
					<% end %>
                </div>                      
            </div>
        </div>		        
    </div>
</section> 
