        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <!-- Header Section -->
        <header class="header">
            <div class="header-top">
                <div class="container">
                    <div class="row">
                        <div class="logo">
                            <a href="/"><%= image_tag "graphics/mission-fuel-logo-md.png", alt: "Mission Fuel" %></a>
                        </div>
                        <div class="header-top-right">
                            <ul>
                                <li>
                                    <span class="flaticon-letter"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                                    <div class="header-top-contact">
                                        <h5>Email Address</h5>
                                        <h6>Info@missionfuel.net</h6>
                                    </div>
                                </li>
                                <li>
                                    <span class="flaticon-phone"><i class="fa fa-phone" aria-hidden="true"></i></span>
                                    <div class="header-top-contact">
                                        <h5>Phone Number</h5>
                                        <h6>+1.631.665.6029</h6>
                                    </div>
                                </li>
                                <li>
                                    <span class="flaticon-placeholder"><i class="fa fa-home" aria-hidden="true"></i></span>
                                    <div class="header-top-contact">
                                        <h5>Mailing Address</h5>
                                        <h6>26 Railroad Ave, #355</br> Babylon, NY 11702</h6>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
			<div class="mainmenu-area" id="menu-fixed">
				<div class="container">
					<div class="row">
						<a href="/" class="logo-menu"><%= image_tag "graphics/mission-fuel-logo-md-wht.png", alt: "Image Name" %></a>
						<div class="nav-menu">
                            <nav class="navbar navbar-default">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar-one bar-stick"></span>
                                    <span class="icon-bar-two bar-stick"></span>
                                    <span class="icon-bar-three bar-stick"></span>
                                  </button>
                                </div>

                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                  <ul class="nav navbar-nav">
                                    <li class="dropdown active">
                                      <a href="/" ><span>Home</span></a>
                                    </li>
                                    <li class="dropdown">
                                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span>About Us</span></a>
                                      <ul class="dropdown-menu">
                                        <li><a href="/beliefs">Beliefs</a></li>
                                        <li><a href="/vision">Vision and Mission</a></li>
                                        <li><a href="/board">Board of Directors</a></li>
                                        <li><a href="/contact_us">Contact Us</a></li>
                                      </ul>
                                    </li>				
                                    <li class="dropdown">
                                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span>Causes</span></a>
                                      <ul class="dropdown-menu">
                                        <li><a href="causes_page_one.html">Causes Grid</a></li>
                                        <li><a href="causes_page_two.html">Causes List</a></li>
                                        <li><a href="causes_single.html">Single Cause</a></li>
                                      </ul>
                                    </li>
<!--                                     <li class="dropdown">
                                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span>Pages</span></a>
                                      <ul class="dropdown-menu">
                                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span>About</span></a>
                                          <ul class="dropdown-menu">
                                            <li><a href="about_page_one.html">About Page One</a></li>
                                            <li><a href="about_page_two.html">About Page Two</a></li>
                                          </ul>									
                                        </li>
                                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span>Event</span></a>
                                          <ul class="dropdown-menu">
                                            <li><a href="events_grid.html">Event Grid</a></li>
                                            <li><a href="event_list.html">Event List</a></li>
                                            <li><a href="single_event.html">Single Event</a></li>
                                          </ul>										
                                        </li>
                                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span>Project</span></a>
                                          <ul class="dropdown-menu">
                                            <li><a href="project_grid.html">Project List</a></li>
                                            <li><a href="project_single.html">Project Details</a></li>
                                          </ul>										
                                        </li>
                                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span>Team</span></a>
                                          <ul class="dropdown-menu">
                                            <li><a href="team_members.html">Team Members</a></li>
                                            <li><a href="team_single.html">Team Single</a></li>
                                          </ul>										
                                        </li>
                                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span>Blog</span></a>
                                          <ul class="dropdown-menu">
                                            <li><a href="blog_list.html">Blog List</a></li>
                                            <li><a href="blog_single.html">Blog Single</a></li>
                                          </ul>										
                                        </li>
                                        <li><a href="404.html">404 Page</a></li>	
                                      </ul>
                                    </li>	 -->							
                                    <li class="dropdown">
                                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span>Gallery</span></a>
                                      <ul class="dropdown-menu">
                                        <li><a href="gallery_page_one.html">Photo Gallery</a></li>
                                        <!-- <li><a href="gallery_page_three.html">Gallery 03 Grid</a></li>
                                        <li><a href="gallery_page_two.html">Gallery 04 Grid</a></li>
                                        <li><a href="gallery_page_four.html">Gallery 05 Grid</a></li> -->
                                      </ul>
                                    </li>				
                                    <!-- <li class="dropdown">
                                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span>Shop</span></a>
                                      <ul class="dropdown-menu">
                                        <li><a href="product_list.html">Product List</a></li>
                                        <li><a href="product_grid.html">Product Grid</a></li>
                                        <li><a href="product_details.html">Product Details</a></li>
                                        <li><a href="cart_page.html">Cart Page</a></li>
                                      </ul>
                                    </li> -->
                                    <li><a href="/contact_us"><span>Contact</span></a></li>
                                  </ul>
                                </div><!-- /.navbar-collapse -->
                            </nav>
						</div>
						<div class="mainmenu-right">
						    <!-- <div class="mainmenu-icon">
                                <div class="search-box">
                                    <i class="fa fa-search first_click" aria-hidden="true"></i>
                                    <i class="fa fa-times second_click" aria-hidden="true"></i>
                                </div>
						    </div> -->
                            <div class="donation">
                                 <a href="https://app.missionfuel.net/secure/donate">Donate Now <i class="fa fa-heart" aria-hidden="true"></i></a>
                            </div>
						</div>													
						<!-- <div class="search-box-text">
							<form action="#">
								<input type="text" name="search" id="all-search" placeholder="Search Here"/>
							</form>
						</div> -->
					</div>
				</div>
			</div>
        </header>