                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="sidebar">
                        <div class="widget">
                            <h3>All Categores</h3>
                            <div class="widget-content">
                                <ul class="category">
                                    <li><a href="causes_page_one.html"><i class="fa fa-angle-double-right" aria-hidden="true"></i><span>Brand Creation</span><span class="category-number">05</span></a></li>
                                    <li><a href="causes_page_one.html"><i class="fa fa-angle-double-right" aria-hidden="true"></i><span>Company Analysis</span><span class="category-number">12</span></a></li>
                                    <li><a href="causes_page_one.html"><i class="fa fa-angle-double-right" aria-hidden="true"></i><span>Corporate Identity</span><span class="category-number">10</span></a></li>
                                    <li><a href="causes_page_one.html"><i class="fa fa-angle-double-right" aria-hidden="true"></i><span>Funding</span><span class="category-number">15</span></a></li>
                                    <li><a href="causes_page_one.html"><i class="fa fa-angle-double-right" aria-hidden="true"></i><span>Medical</span><span class="category-number">22</span></a></li>
                                    <li><a href="causes_page_one.html"><i class="fa fa-angle-double-right" aria-hidden="true"></i><span>Strategy Planning</span><span class="category-number">09</span></a></li>
                                    <li><a href="causes_page_one.html"><i class="fa fa-angle-double-right" aria-hidden="true"></i><span>Uncategorized</span><span class="category-number">11</span></a></li>
                                    <li><a href="causes_page_one.html"><i class="fa fa-angle-double-right" aria-hidden="true"></i><span>Video Production</span><span class="category-number">06</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="widget">
                            <h3>Latest Campaigns</h3>
                            <div class="widget-content">
                                <div class="latest-champigns">
                                    <div class="single-champign">
                                        <div class="champign-img">
                                            <a href="#"><img src="images/latest-champign-01.jpg" alt="Champign Image"></a>
                                        </div>
                                        <div class="champign-title">
                                            <h4><a href="#">My Great Grandmather Story</a></h4>
                                            <p><span>20</span> Days Left</p>
                                        </div>
                                    </div>
                                    <div class="single-champign">
                                        <div class="champign-img">
                                            <a href="#"><img src="images/latest-champign-02.jpg" alt="Champign Image"></a>
                                        </div>
                                        <div class="champign-title">
                                            <h4><a href="#">Civil and Political rights</a></h4>
                                            <p><span>18</span> Days Left</p>
                                        </div>
                                    </div>
                                    <div class="single-champign">
                                        <div class="champign-img">
                                            <a href="#"><img src="images/latest-champign-03.jpg" alt="Champign Image"></a>
                                        </div>
                                        <div class="champign-title">
                                            <h4><a href="#">Build School For Children</a></h4>
                                            <p><span>10</span> Days Left</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="widget">
                            <h3>Recent Blog Post</h3>
                            <div class="widget-content">
								<ul class="latest-news widget-recent-post">
									<li>
										<span class="small-thumbnail">
											<a href="#"><img src="images/footer-latest-news-one.jpg" alt="Image Name" /></a>
										</span>
										<div class="content">
											<a href="#" class="latest-news-title">Foulate revlunry a mihare awesome the theme.</a>
											<span class="post-date">04 February 2016</span>
										</div>
									</li>
									<li>
										<span class="small-thumbnail">
											<a href="#"><img src="images/footer-latest-news-two.jpg" alt="Image Name" /></a>
										</span>
										<div class="content">
											<a href="#" class="latest-news-title">Foulate revlunry a mihare awesome the theme.</a>
											<span class="post-date">04 February 2016</span>
										</div>
									</li>
									<li>
										<span class="small-thumbnail">
											<a href="#"><img src="images/footer-latest-news-three.jpg" alt="Image Name" /></a>
										</span>
										<div class="content">
											<a href="#" class="latest-news-title">Duis autem vel eum iriure dolor in hendrerit.</a>
											<span class="post-date">04 February 2016</span>
										</div>
									</li>
								</ul>
                            </div>
                        </div>
                        <div class="widget">
                            <h3>Popular Tags</h3>
                            <div class="widget-content">
                                <div class="tag">
                                    <a href="#" class="btn-two">Childreen</a>
                                    <a href="#" class="btn-two">School</a>
                                    <a href="#" class="btn-two">Shop</a>
                                    <a href="#" class="btn-two">Water</a>
                                    <a href="#" class="btn-two">Charity</a>
                                    <a href="#" class="btn-two">Heaven</a>
                                    <a href="#" class="btn-two">Blog</a>
                                    <a href="#" class="btn-two">Content</a>
                                    <a href="#" class="btn-two">Design</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>