<%= render "shared/breadcrumbs" %>

<section class="section p-90">
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <div class="causes-single-page">
                        <div class="full-img">
                        	<%= image_tag "stock/beliefs_image.jpg", alt: "cross at sunrise" %>
                        </div>
                        <div class="causes-description">
                            <h3>Statement of Beliefs</h3>
                            <div class="description-content">
                                
                                 <div class="single-description">
                                    <h4 class="description-title">The Bible</h4>
                                    <p>We believe the Bible is God's inspired word and was given to provide instruction for what we should believe and how we should live our lives. We believe that the Bible is accurate and reliable, was written under direct inspiration from God, and is completely authoritative for all Christians.</p>
                                    <p class="special-quation">All Scripture is God-breathed and is useful for teaching, rebuking, correcting and training in righteousness, so that the servant of God may be thoroughly equipped for every good work. <span style= "font-style: normal;" > - 2 Timothy 3:16-17</span></p><!-- <i class="fa fa-quote-right quote-mark"> -->
                                </div>

                                <div class="single-description">
                                    <h4 class="description-title">God, Jesus and the Holy Spirit</h4>
                                    <p>We believe that there is one true God, the creator of the universe, who eternally exists in three persons: Father, Son and Holy Spirit.We believe that Jesus was the Father’s only begotten Son who came to earth to redeem humanity. He was born of a virgin, lived a sinless life, voluntarily died on the cross for our sins, and was bodily raised from the dead. He ascended into heaven and now sits at the right hand of the Father and acts as an intermediary on our behalf. One day Jesus will return to earth and initiate the consummation of human history. We believe that the Holy Spirit is equal with the Father and the Son. The Holy Spirit provides power to overcome sin, insight into Scripture, and personal direction in life. All believers are given the gift of the Holy Spirit at conversion, and through the Holy Spirit's presence and power are enabled to attain spiritual maturity in Christ. Through the Holy Spirit each person in the body is given special gifts to use in ministry. 
</p>
                                    <p class="special-quation"> The Son is the image of the invisible God, the firstborn over all creation. 16 For in him all things were created: things in heaven and on earth, visible and invisible, whether thrones or powers or rulers or authorities; all things have been created through him and for him. <span style= "font-style: normal;" > - Colossians 1:15-16</span></p></i>
                                </div>
                                <div class="single-description">
                                    <h4 class="description-title">Human Destiny</h4>
                                    
                                    <p>We believe that a human being's central purpose for existence is to have a close and personal relationship with God. Originally created for that purpose, humans defied God, choosing to go their own independent way, and were thus alienated from God. This "Fall" took place at the beginning of human history, and all individuals since have suffered these consequences and need God's forgiveness and mercy. A person can be forgiven by God and have that close, personal relationship restored only by believing that Jesus is God's son who was punished for our sins in our place. Baptism is the ‘next step' for those who have put their faith in Jesus Christ. We believe that the proper mode for baptism is immersion and we also believe that God somehow gets involved in the process and makes it a supernatural event. For all humankind, there will be a resurrection and a judgment that will determine the fate of everyone. Unbelievers will be separated from His presence for all eternity while believers will be received into heaven to be with God forever. </p>

                                    <p class="special-quation">For the creation waits in eager expectation for the children of God to be revealed. 20 For the creation was subjected to frustration, not by its own choice, but by the will of the one who subjected it, in hope 21 that[h] the creation itself will be liberated from its bondage to decay and brought into the freedom and glory of the children of God.<span style= "font-style: normal;" > - Romans 8:19-21</span> </p>
                                </div>

                                
                            </div>
                        </div>
                    </div>
                </div>
<%#= render "shared/sidebar" %>
            </div>
        </div>
    </div>
</section>	
