<%= render "shared/breadcrumbs" %>

<section class="section p-90">
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <div class="causes-single-page">
                        <div class="full-img">
                            <%= image_tag "children_ministry_image.jpg", alt: "Young people worshiping in house church" %>
                            <figcaption class="figure-caption caption">This Children's Club is a fun, nurturing ministry of Bethel Fellowship located in a large urban city of Asia</figcaption>
                        </div>
                        <div class="causes-description">
                            <h3>Caring for Children</h3>
                            <div class="description-content">
                                
                                 <div class="single-description">
                                   
                                    <p>Children are the most vulnerable people in society. In developing nations, poor children can often fall prey to abuse, neglect, sexual trafficing, and even slavery. Other children belong to families that are ripped apart because of divorce, abusive and alcholic fathers, or hardships resulting from the death of one or both parents.</p>

                                    <p class="special-quation"> At that time Jesus declared, “I thank you, Father, Lord of heaven and earth, that you have hidden these things from the wise and understanding and revealed them to little children </br><span style= "font-style: normal;" >- Matthew 11:25</span></p>

                                    <p>Bethel Fellowship is reaching kids through the formation of "children's clubs" where they are welcomed into a fun and loving environment, fed delicious and nourishing snacks, and where they hear about the God who loves them and will never leave them or forsake them. They make friends who encourage them in their journey of faith in Christ and who "stick closer than a brother" even if their home life is hard and dysfunctional.</p>

                                    <p>Mission Fuel is seeking to provide the resources to support projects like this and the people who give their lives to minister to these children. Please considering giving even small, but <a href="https://app.missionfuel.net/secure/donate">regular support</a> to help sustain this work.</p>

                                    <%= render "/shared/donation" %>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<%#= render "shared/sidebar" %>
            </div>
        </div>
    </div>
</section>  

