<%= render "shared/breadcrumbs" %>

<section class="section p-90">
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <div class="causes-single-page">
                        <div class="full-img">
                        	<%= image_tag "discipleship_image.jpg", alt: "Young people worshiping in house church" %>
                        	<caption>Young people experience the joy of knowing God because of the Pastors that Mission Fuel supports</caption>
                        </div>
                        <div class="causes-description">
                            <h3>Making Discipleships</h3>
                            <div class="description-content">
                                
                                 <div class="single-description">
                                   
                                    <p>Discipleship is not about "making converts". It is not about "Westernizing Culture". Discipleship is about fostering life changing relationships between people their Creator. This relationship starts when a person is introduced to the hope of Jesus Christ and the forgiveness of sins through His sacrifice on the cross. Discipleship is about sharing the truth about God's enormous love for people and the joy that comes from discovering one's true purpose for living on Earth today and in eternity with God in the future.</p>

                                    <p class="special-quation"> Then Jesus came to them and said, “All authority in heaven and on earth has been given to me.  Therefore go and make disciples of all nations, baptizing them in the name of the Father and of the Son and of the Holy Spirit, and teaching them to obey everything I have commanded you. And surely I am with you always, to the very end of the age. </br><span style= "font-style: normal;" >- Matthew 28:18-20</span></p>

                                    <p>The presentation of the Good News of Salvation through Jesus Christ is often met with great enthusiasm as many of the people we serve are without the distracting comforts of our Western society, and instead their hearts are tender and ready to receive the love of God for them. Many who decide to live for Jesus must also decide to endure persecution or being ostracized by their families and village. But so great is their love for God.</p>

                                    <p>Too often the limiting factor in reaching people for God is the limited resources that exist to support the work of the Church. Mission Fuel was founded to help supply the needs of the brave and faithful people who serve God to reach their people. Your small, but <a href="https://app.missionfuel.net/secure/donate">regular support</a> to Mission Fuel will be used to "make disciples of all nations".</p>

                                    <a href="https://app.missionfuel.net/secure/donate" class="btn-two">Donate</a>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<%#= render "shared/sidebar" %>
            </div>
        </div>
    </div>
</section>	

