<%= render "shared/breadcrumbs" %>

<section class="section p-90">
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="causes-single-page">
                        <div class="causes-description">

                            <h3>Please Provide Financial Support</h3>

                            <div class="description-content">
                                 <div class="single-description">
                                    <div class="row">
                                        <div class="col-md-4 col-xs-12 float_left">
                                            <p>Mission Fuel exists to promote and support the cause of the brave and hard working men and women overseas who are dedicated to compassion towards the poor and evangelizing the truth of Jesus Christ to the those with broken spirits. Please consider supporting and promoting our work. </p>

                                            <p class="special-quation">"Whoever is generous to the poor lends to the LORD, and he will repay him for his deed." Proverbs 19:17</p>

                                            <p><span style="font-weight: bold;">Regular support</span> is essential for us to <span style="font-weight: bold;">build budgets</span> that allow us to provide support that our missionaries and overseas workers can count on to provide compassionate aid, build sustainable programs, and conduct impactful ministry in the name of Jesus Christ. Please consider supporting us with <a href="https://missionfuel.networkforgood.com/projects/79391-monthly-support-to-bear-much-fruit"><span style="font-weight: bold;">small, regular donations</span></a> that can be automatically sent monthly.</p>

                                            <p style="text-align: center;"><%= render "/shared/donation" %></p>

                                            <p>Mission Fuel Inc. is a 501(c)3 non-profit organization EIN 82-1103717. Your donation is tax deductible. A receipt will be emailed to the address you provide. Please retain this for your records.</p>
                                        </div>
                                        <div class="col-md-8 col-xs-12 float_left">
                                            <%= link_to(image_tag("photos/donation_hero.jpg", target: 'blank'), "https://missionfuel.networkforgood.com/projects/79391-monthly-support-to-bear-much-fruit") %>

                                            <%= link_to(image_tag("images/logos/AmazonSmile_screen_no_tagline_sm.png", class: "float_right"), "https://smile.amazon.com/ch/82-1103717") %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="font-size: 10px;">Note: If you have previously donated using our donorbox.org donor management system, you may access your account to make any changes here: <a href="https://donorbox.org">https://donorbox.org</a></div></br>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script language="JavaScript" type="text/javascript">
TrustLogo("https://www.missionfuel.net/comodo_secure_seal_76x26_transp.png", "CL1", "none");
</script>
<a  href="https://ssl.comodo.com" id="comodoTL">Comodo SSL</a>  

    </div>
</section>







