<%= render "shared/breadcrumbs" %>

<section class="section p-90">
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <div class="causes-single-page">
                        <div class="full-img">
                            <%= image_tag "helpingpoor_image.jpg", alt: "Young people worshiping in house church" %>
                            <figcaption class="figure-caption caption">In May 2016 there were torrential rains that resulted in massive flooding all over India. This caused terrible sanitary conditions due to overflowing sewers and food shortages. Bethel Fellowship did what they could with the small support they received to purchase food for poor families and to provide assistance with those who were hospitalized from sickness resulting from lack of clean drinking water.</figcaption>
                        </div>
                        <div class="causes-description">
                            <h3>Making a Difference in the Lives of the Poor</h3>
                            <div class="description-content">
                                
                                 <div class="single-description">
                                   
                                    <p>Poverty in the developing world is grinding and merciless. The level of income for the vast majority is so low that it is difficult to provide even basic, life sustaining nutrition for one's self and family. Lack of employment or employable skills results in a spiral of poverty that can result in crushing discouragement, often leading to alcohol abuse and homelessness. It is hard for us in the Western world to appreciate a society where there is no "safety net" of social programs to prevent the poor from falling through the cracks of society, but that is the reality for many unless people like you provide your assistance. We can't solve all the world's problems, but we can help some.</p>

                                    <p class="special-quation"> Religion that God our Father accepts as pure and faultless is this: to look after orphans and widows in their distress and to keep oneself from being polluted by the world. </br><span style= "font-style: normal;" >- James 1:27</span></p>

                                    <p>An essential part of serving as "ambassadors of Christ" (2 Cor. 5:20) is to demonstrate His love by meeting the practical needs of those to whom we seek to share the truth of God with. In countries like India, our Western currency is worth so much and a little bit of money can go a long way to providing food, clean water, clothing and shelter to address immediate needs. But our objective at Mission Fuel is to help provide skills training and tools so that the poor can rise above their poverty and earn a living wage. We will not be able to help everyone, but we will make the difference in someone's life with your help. Please considering giving even small, but <a href="https://app.missionfuel.net/secure/donate">regular support</a> to help sustain this work. </p>

                                    <p class="special-quation">Then the righteous will answer him, saying, ‘Lord, when did we see you hungry and feed you, or thirsty and give you drink? And when did we see you a stranger and welcome you, or naked and clothe you? And when did we see you sick or in prison and visit you?’ And the King will answer them, ‘Truly, I say to you, as you did it to one of the least of these my brothers,[a] you did it to me.’</br><span style= "font-style: normal;" >- James 1:27</span></p>
                                    </br>

                                    <a href="https://app.missionfuel.net/secure/donate" class="btn-two">Donate</a>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<%#= render "shared/sidebar" %>
            </div>
        </div>
    </div>
</section>  

