<section class="section">
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="contact-details">
                        <ul class="contact-ul">
                            <li>
								<%= image_tag "girl_with_bible.jpg" %>
                            </li>
                        </ul>
                    </div>    
                </div>

	            <div class="col-md-8 col-sm-6 col-xs-12">
	                <div class="submit-opinion">
	                    <h4>Join Our Mailing List</h4>
							<div class="eGoConnectForm">
								<div>Stay in touch, receive news, updates, materials and promotions from us. You can opt out any time you wish.</div>
									<form action="https://www.egoconnect.com/app/subscribe/mission-fuel" method="post">
											<div>
										        <label for="fieldNameF">First Name</label><br />
										        <input id="fieldNameF" name="subs_first" type="text" class="input" required />
										    </div>
										    
										    <div>
										        <label for="fieldNameL">Last Name</label><br />
										        <input id="fieldNameL" name="subs_last" type="text" class="input" required />
										    </div>
										    
										    <div>
										        <label for="fieldEmail">Email</label><br />
										        <input id="fieldEmail" name="subs_email" type="email" class="input" required />
										    </div>
										    <div>
										        <button type="submit", class="btn btn-default btn-lg">Subscribe</button>
										    </div>

									</form>
								</div>
			                </div>
		            </div>
	            </div>
	        </div>
        </div>
    </div>
</section>
