<%= render "shared/breadcrumbs" %>

<section class="section p-90">
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <div class="causes-single-page">
                        <div class="full-img">
                        	<%= image_tag "growing_church_image.jpg", alt: "Young people worshiping in house church" %>
                        	<figcaption class="figure-caption caption">Growing churches are a wonderful blessing, but often introduce difficult organizational management challenges.</figcaption>
                        </div>
                        <div class="causes-description">
                            <h3>Providing Organizational Management Consulting</h3>
                            <div class="description-content">
                                
                                 <div class="single-description">
                                   
                                    <p>There are many challenges that face any growing organization, and rapidly growing churches are no different. Many of the pastors and social entreprenuers who lead organizations find themselves managing increasingly complex issues that they are not equipped to deal with. These may include budgeting, developing a leadership team, legal/governmental compliance and  other organizational business. Lack of skill in developing competence to address these needs can result in the organization failing or in wasting limited resources. </p>

                                    <p class="special-quation"> Without counsel plans fail, but with many advisers they succeed.<span style= "font-style: normal;" > - Proverbs 15:22</span></p>

                                    <p>One way Mission Fuel seeks to help is by connecting volunteers with business and church administration experience with Christian ministries and humanitarian projects in developing countries. These men and women can play a critical role in assisting these organizations to be successful in their mission.</p>

                                    <%= render "/shared/donation" %>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<%#= render "shared/sidebar" %>
            </div>
        </div>
    </div>
</section>	

