<%= render "shared/breadcrumbs" %>

<section class="section p-90">
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <div class="causes-single-page">
                        <div class="full-img">
                        	<%= image_tag "minister_to_men_image.jpg", alt: "Pastor young men who attend the church" %>
                        	<figcaption class="figure-caption caption">Pastor Sujit standing with young men who he disciples and ministers to.</figcaption>
                        </div>
                        <div class="causes-description">
                            <h3>Ministering to Men</h3>
                            <div class="description-content">
                                
                                 <div class="single-description">
                                   
                                    <p>Because of crushing poverty, a difficult life of hard work, and lack of hope, many men resort to abusing alchohol to escape. Drunkeness combined with a low view of women and girls, often leads to physical and emotional abuse, infidelity and oftentimes abandonment of the family. But the Bible teaches that men are to be the primary providers and protectors of their families. God has identified himself as a loving Father and provides a unique example to which all men should seek to emulate.</p>
                                    <p>When men come to truly embrace their identity in Jesus Christ, and their destiny as princes in an eternal Kingdom, they become transformed into purpose driven providers, lovers of their family, and bold witnesses for Christ. Your <a href="https://app.missionfuel.net/secure/donate">regular support</a> to Mission Fuel will be used to reach the men of India to share the Good News and Hope of God with men and boys who will be the foundation of healthy and prosperous families leading in their communities and churches.</p>

                                    <a href="https://app.missionfuel.net/secure/donate" class="btn-two">Donate</a>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<%#= render "shared/sidebar" %>
            </div>
        </div>
    </div>
</section>	

