<%#= render "shared/breadcrumbs" %>

<section class="section p-90">
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <%= link_to(image_tag("images/logos/AmazonSmile_screen_no_tagline_sm.png", class: "float_right"), "https://smile.amazon.com/ch/82-1103717") %>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="causes-single-page">
                        <div class="causes-description">

                            <h3>Please Help Support our Mission Trip to Asia in January 2019</h3>

                            <div class="description-content">
                                 <div class="single-description">
                                    <script src="https://donorbox.org/widget.js" paypalExpress="false"></script><iframe src="https://donorbox.org/embed/mission-trip-2019?show_content=true" height="685px" width="100%" style="max-width:100%; min-width:100%; max-height:none!important" seamless="seamless" name="donorbox" frameborder="0" scrolling="no" allowpaymentrequest></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script language="JavaScript" type="text/javascript">
TrustLogo("https://www.missionfuel.net/comodo_secure_seal_76x26_transp.png", "CL1", "none");
</script>
<a  href="https://ssl.comodo.com" id="comodoTL">Comodo SSL</a>  

    </div>
</section>








