<%= render "shared/breadcrumbs" %>

<section class="section p-90">
    <div class="container">
<!--         <div class="row"> -->
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <div class="causes-single-page">
                        <div class="full-img">
                        	<iframe src="https://player.vimeo.com/video/258436240" width="640" height="564" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                        </div>
                        <div class="causes-description">
                            <h3>Slum Hope</h3>
                            <div class="description-content">
                                
                                 <div class="single-description">
                                   
                                    <p>For millions in Asia, "home" is a makeshift hut made of discarded building materials like corrugated metal roofing. Entire families often live in a space the size of the average American's master bedroom. And these are the lucky ones. Members of these families typically work as day laborers earning a dollar a day for back breaking work. This kind of poverty grinds the soul and the spirit to dust. </p>

                                    <p class="special-quation"> The people walking in darkness have seen a great light; on those living in the land of deep darkness a light has dawned. </br><span style= "font-style: normal;" > - Isaiah 9:2</span></p>

                                    <p>In our video titled "Slum Hope" see how Mission Fuel is helping a native Pastor, his wife and family, and the church he started to reach the people of the slums. God is doing a remarkable work in the people's lives and they are experiencing the hope of Jesus Christ for eternity and in the present. Watch this video and share it with your friends. It is inspiring to see how the risen Christ is working even where life is the bleakest and darkest.</p>

                                    <%= render "/shared/donation" %>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<%#= render "shared/sidebar" %>
            </div>
<!--         </div> -->
    </div>
</section>	

