<%#= render "shared/breadcrumbs" %>

<section class="section p-90">
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <div class="causes-single-page">
                        <div class="causes-description">

                            <h3>Please Provide Financial Support</h3>

                            <div class="description-content">
                                 <div class="single-description">
                                    <p><b>Mission Fuel Inc is a 501(c)3 non-profit organization. Your donation is tax deductible.</b></p>

                                    <p>We are supporting indigenous people who lack the financial means to conduct the work they are doing in their own countries. Because the needs are so acute in the impoverished regions they minster in, they are not able to support themselves, nor do they have access to people who do. That's where Mission Fuel comes in. We exist to help raise money to support missionaries and their work so that they can bring the love of Jesus Christ and the good news of redemption to people around the world.</p>

                                    <p>Monies received are used where needed as determined by the Board of Directors to provide financial support to missionaries, aid to the poor, or other assistance consistent with our <a href="/vision">mission statement</a></p>
                                    <div class="center">
                                      <form>
                                        <button type="submit" formaction="https://paypal.me/missionfuel" class="btn btn-default btn-lg btn-two">Donate</button>
                                      </form>
                                    </div></div></br>
                                    <p class="special-quation"> What good is it, my brothers, if someone says he has faith but does not have works? Can that faith save him? If a brother or sister is poorly clothed and lacking in daily food, and one of you says to them, “Go in peace, be warmed and filled,” without giving them the things needed for the body, what good is that? So also faith by itself, if it does not have works, is dead. </br><span style= "font-style: normal;" > - James 2:14-17</span></p>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<%#= render "shared/sidebar" %>
            </div>
        </div>
    </div>
</section>	






