<%= render "shared/breadcrumbs" %>

<section class="section p-90">
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <div class="causes-single-page">
                        <div class="full-img">
                        	<%= image_tag "sujit_shirin_members.jpg", alt: "Pastor posing with members of the church" %>
                        	<caption>Mission Fuel helps fund the work of Pastors like Sujit and his wife Shirin shown here with a family they minister to in India</caption>
                        </div>
                        <div class="causes-description">
                            <h3>Our Vision</h3>
                            <div class="description-content">
                                
                                 <div class="single-description">
                                   
                                    <p>To fuel the Great Commission of Jesus Christ through the connection of Kingdom resources with Kingdom workers around the world.</p>
                                    
                                </div>

                                <div class="single-description">
                                    <h3>Our Mission</h3>
                                    <p>To provide financial resources and business competence to Christian mission “start-ups" that are engaged in expanding the Kingdom of God through disciple making, humanitarian relief, and the establishment of healthy, prosperous, and self-sustainable communities of faith in Christ.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<%#= render "shared/sidebar" %>
            </div>
        </div>
    </div>
</section>	

