<%= render "shared/breadcrumbs" %>

<section class="section p-90">
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <div class="causes-single-page">
                        <div class="full-img">
                            <%= image_tag "ministering_to_women_image.png", alt: "Young people worshiping in house church" %>
                            <figcaption class="figure-caption caption">Shirin ministers to some women who attend the church she has founded with her husband Sujit and supported by Mission Fuel.</figcaption>
                        </div>
                        <div class="causes-description">
                            <h3>Ministering to Women and Girls</h3>
                            <div class="description-content">
                                
                                 <div class="single-description">
                                   
                                    <p>Women and girls in many countries in Asia are not given the respect or value they deserve as God's treasured and loved creation and coheir with men in the Salvation of Christ. Male children are often seen as having more value because of their ability to provide an income for the family, and in some countries in Asia a family will have to pay a very expensive dowry to the groom who agrees to marry their daughter. So women and girls can be seen as a liability.</p>

                                    <p class="special-quation"> Charm is deceitful, and beauty is vain, but a woman who fears the Lord is to be praised. Give her of the fruit of her hands, and let her works praise her in the gates.</br><span style= "font-style: normal;" > - Proverbs 31:30-31</span></p>

                                    <p>The churches and ministries we support teach that women and girls are precious in God's sight and worthy of love, respect, provision, and protection. They are gifted with talents, abilities, intellect and aspirations that should be developed and appreciated.</p>

                                    <p>Mission Fuel seeks to help widows who are not able to care for themselves, and women who have been abandoned or divorced, or who have fled abusive homes, or who may through some other circumstances be in need of help. It is our desire to assist girls who may be targets of sexual trafficing, neglect, or abandonment. Your <a href="/donate">regular support</a> to Mission Fuel will be used to help these individuals in their time of need and to help them to be independent. One of the projects we have supported has purchased sewing machines for woman to learn a new skill that will help them earn a living wage. Other times we have provided assistance with tuition for college or a safe  primary school where they can be properly educated. Help us help them.</p>

                                    <%= render "/shared/donation" %>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<%#= render "shared/sidebar" %>
            </div>
        </div>
    </div>
</section>  



