             
    <!-- Gallery Section -->
    <section class="gallery-section-two section">
        <div class="container">
                <div class="row">
                    <div class="gallery">
            <!-- <div class="gallery-menu">
              <ul>
                <li class="is_selected" data-filter="*">All</li>
                <li data-filter=".charity">Charity</li>
                <li data-filter=".health">Health</li>
                <li data-filter=".food">Food</li>
                <li data-filter=".education">Education</li>
                <li data-filter=".childreen">Childreen</li>
              </ul>             
            </div> -->

            <% @galleries.each do |gallery| %>
                         <div class="gallery-grid-4">
                             <div class="single-item-4 col-md-3 col-sm-6">
                                 <div class="gallery-img">
                                    <% unless gallery.photos.empty? %>
                                      <%= image_tag(gallery.photos.first.url(:medium)) %>
                                    <% end %>
                                     <div class="overlay"></div>
                                     <div class="gallery-content">
                                        <%= link_to(gallery) do %>
                                          <h4><%= gallery.name %></h4>
                                        <% end %>
                                     </div>
                                 </div>
                             </div>
                         </div>                      
                    </div>
                </div> 
            <% end %>           
        </div>
    </section>      
    <!-- End Gallery Section --> 
<% if user_signed_in? %>
    <%= link_to 'New Gallery', new_gallery_path %>
<% end %>
