.navbar-toggle {
	z-index: 1000;
}

.navbar-nav {
  z-index: 1000;
}

@media screen and (max-width: 767px){

	.helping-section .sc-section-heading p {
	    width: 100%;
	    margin: 0;
	}

}

@media screen and (min-width: 769px){

	.helping-section .sc-section-heading p {
	    width: 80%;
	    margin: 0;
	}

}

@media screen and (max-width: 320px) {
    .mainmenu-area a.logo-menu img {
        width: 70%;
    }
}


