.navbar-toggle {
	z-index: 1000;
}

.navbar-nav {
  z-index: 1000;
}

.caption {
	font-size: 12px;
	font-style: italic;
}

.donate input[type="submit"] {
    font-size: 14px;
    display: inline-block;
    color: #000;
    padding: 13px 19px;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 1px;
    outline: none;
    border: 2px solid $primary-color;
    background-color: #FFF;
    transition: .3s;
    box-shadow: inset 0px 0px 0px 0px $primary-color, inset 0px 0px 0px 0px $primary-color;
}

.donate:hover input[type="submit"] {
	color: #000;
    border: 2px solid $primary-color;
    box-shadow: inset 6px 5px 27px 22px $primary-color, inset 1px 0px 0px 0px $primary-color;	
}

.center {
	text-align: center;
}

@media screen and (max-width: 767px){

	.helping-section .sc-section-heading p {
	    width: 100%;
	    margin: 0;
	}
}

@media screen and (min-width: 769px){

	.helping-section .sc-section-heading p {
	    width: 80%;
	    margin: 0;
	}
	caption {
		font-size: 8px;
		font-style: italics;
	}
}



// @media screen and (max-width: 320px) {
//     .mainmenu-area a.logo-menu img {
//         width: 40%;
//     }
// }


