<li data-index="rs-78" data-transition="parallaxvertical,slideleft" data-slotamount="default,default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default,default" data-easeout="default,default" data-masterspeed="default,default"  data-thumb="slides/100x50_445f4-13078310_10154108890389761_237609952_o.jpg"  data-rotate="0,0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Woman and Girls" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
        <%#= image_tag "slides/445f4-13078310_10154108890389761_237609952_o.jpg", alt:"",  data: { bgposition:"center center", bgfit: "cover", bgrepeat: "no-repeat", bgparallax: "10", class: "rev-slidebg" } %>
        <%= image_tag "slides/445f4-13078310_10154108890389761_237609952_o.jpg", alt: "",  data: { bgposition: "center center", kenburns: "on", duration: "20000", ease: "Linear.easeNone", scalestart: "100", scaleend: "130", rotatestart: "0", rotateend: "0", blurstart: "0", blurend: "0", offsetstart: "0 30", offsetend: "0 100", bgparallax: "10", class: "rev-slidebg"} %>
		<!-- LAYERS -->

		<!-- LAYER NR. 1 -->
		<div class="tp-caption tp-shape tp-shapewrapper   tp-resizeme" 
			 id="slide-78-layer-3" 
			 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
						data-width="full"
			data-height="full"
			data-whitespace="normal"
 
            data-type="shape" 
			data-basealign="slide" 
			data-responsive_offset="on" 

            data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 5;background-color:rgba(0, 0, 0, 0.35);"> </div>

		<!-- LAYER NR. 2 -->
		<div class="tp-caption Newspaper-Title tp-resizeme" 
			 id="slide-78-layer-1" 
			 data-x="['left','left','left','left']" data-hoffset="['154','50','50','30']" 
			 data-y="['top','top','top','top']" data-voffset="['167','135','105','130']" 
						data-fontsize="['50','50','50','30']"
			data-lineheight="['55','55','55','35']"
			data-width="['600','600','600','420']"
			data-height="none"
			data-whitespace="normal"
 
            data-type="text" 
			data-responsive_offset="on" 

            data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[10,10,10,10]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 6; min-width: 600px; max-width: 600px; white-space: normal;">Introducing woman and girls to the God who treasures them! </div>

		<!-- LAYER NR. 3 -->
		<div class="tp-caption Newspaper-Subtitle   tp-resizeme" 
			 id="slide-78-layer-2" 
			 data-x="['left','left','left','left']" data-hoffset="['154','50','50','30']" 
			 data-y="['top','top','top','top']" data-voffset="['141','110','80','100']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
            data-type="text" 
			data-responsive_offset="on" 

            data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 7; white-space: nowrap; color: #ffffff;">Christian World View </div>

		<!-- LAYER NR. 4 -->
		<div class="tp-caption Newspaper-Button rev-btn " 
			 id="slide-78-layer-5" 
			 data-x="['left','left','left','left']" data-hoffset="['154','53','53','30']" 
			 data-y="['top','top','top','top']" data-voffset="['363','331','301','245']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
            data-type="button" 
			data-actions='[{"event":"click","action":"simplelink","target":"_self","url":"\/women","delay":""}]'
			data-responsive_offset="on" 
			data-responsive="off"
            data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1);bg:rgba(255, 255, 255, 1);bc:rgba(255, 255, 255, 1);"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[12,12,12,12]"
            data-paddingright="[35,35,35,35]"
            data-paddingbottom="[12,12,12,12]"
            data-paddingleft="[35,35,35,35]"

            style="z-index: 8; white-space: nowrap;border-color:rgba(255,255,255,0.25);border-width:1px 1px 1px 1px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">READ MORE </div>
	</li>