<li data-index="rs-89" data-transition="parallaxvertical,slideleft" data-slotamount="default,default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default,default" data-easeout="default,default" data-masterspeed="default,default"  data-thumb=""  data-rotate="0,0"  data-saveperformance="off"  data-title="Feature Video" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
        <%= image_tag "slides/transparent.png", alt:"", data: {bgposition: "center center", bgfit: "cover", bgrepeat: "no-repeat", bgparallax: "10", class:"rev-slidebg" } %>
		<!-- LAYERS -->

		<!-- LAYER NR. 21 -->
		<div class="tp-caption   tp-resizeme fullscreenvideo tp-videolayer" 
			 id="slide-89-layer-7" 
			 data-x="0" 
			 data-y="0" 
						data-whitespace="nowrap"
 
            data-type="video" 
			data-responsive_offset="on" 

            data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
 data-vimeoid="259496898" data-videoattributes="title="Finding Hope in the Slums"&byline=1&portrait=0&api=1" data-videowidth="100%" data-videoheight="100%" data-videoloop="none" data-forceCover="1" data-aspectratio="16:9"            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
			data-autoplay="off" 
			data-nextslideatend="true" 
			data-videoposter=<%= asset_path('slides/6eee1-IMG_1315.jpg') %>
			data-noposteronmobile="off" 
			data-volume="100" data-forcerewind="on"
            style="z-index: 5;"> </div>

		<!-- LAYER NR. 22 -->
		<div class="tp-caption tp-shape tp-shapewrapper   tp-resizeme" 
			 id="slide-89-layer-3" 
			 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
						data-width="full"
			data-height="full"
			data-whitespace="normal"
 
            data-type="shape" 
			data-basealign="slide" 
			data-responsive_offset="on" 

            data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 6;background-color:rgba(0,0,0,0.35);"> </div>

		<!-- LAYER NR. 23 -->
		<div class="tp-caption Newspaper-Title   tp-resizeme" 
			 id="slide-89-layer-1" 
			 data-x="['left','left','left','left']" data-hoffset="['154','50','50','30']" 
			 data-y="['top','top','top','top']" data-voffset="['233','135','105','130']" 
						data-fontsize="['50','50','50','30']"
			data-lineheight="['55','55','55','35']"
			data-width="['600','600','600','420']"
			data-height="none"
			data-whitespace="normal"
 
            data-type="text" 
			data-responsive_offset="on" 

            data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[10,10,10,10]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 7; min-width: 600px; max-width: 600px; white-space: normal; letter-spacing: px;">Finding Hope in the Slums. </div>

		<!-- LAYER NR. 24 -->
		<div class="tp-caption Newspaper-Subtitle   tp-resizeme" 
			 id="slide-89-layer-2" 
			 data-x="['left','left','left','left']" data-hoffset="['156','50','50','30']" 
			 data-y="['top','top','top','top']" data-voffset="['203','110','80','100']" 
						data-fontsize="['20','20','20','18']"
			
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
            data-type="text" 
			data-responsive_offset="on" 

            data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 8; white-space: nowrap; font-size: 20px; color: rgb(244, 194, 189); letter-spacing: px;background-color:rgba(0,0,0,0);">Touching the Un-Touchable </div>

		<!-- LAYER NR. 25 -->
		<div class="tp-caption Newspaper-Button rev-btn " 
			 id="slide-89-layer-5" 
			 data-x="['left','left','left','left']" data-hoffset="['155','53','53','30']" 
			 data-y="['top','top','top','top']" data-voffset="['379','331','301','245']" 
						data-color="['rgb(255,255,255)','rgba(255,255,255,1)','rgba(255,255,255,1)','rgba(255,255,255,1)']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
            data-type="button" 
			data-actions='[{"event":"click","action":"playvideo","layer":"slide-89-layer-7","delay":""}]'
			data-responsive_offset="on" 
			data-responsive="off"
            data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0,0,0,1);bg:rgba(255,255,255,1);bc:rgba(255,255,255,1);"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[12,12,12,12]"
            data-paddingright="[35,35,35,35]"
            data-paddingbottom="[12,12,12,12]"
            data-paddingleft="[35,35,35,35]"

            style="z-index: 9; white-space: nowrap; color: #ffffff; letter-spacing: px;background-color:rgba(185, 42, 30,1);border-color:rgba(185, 42, 30,1);border-width:1px 1px 1px 1px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">CLICK TO WATCH THEIR STORY </div>
	</li>